
    /*HTML5 Reset */
 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    background:transparent;
    vertical-align:baseline;
    font-size:100%;
}
 html{
    height:100%;
}
 body{
    margin:0;
    padding:0;
    height:100%;
    line-height:1;
}
 p{
    line-height: 1.45em;
}
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block;
}
 nav ul{
    list-style:none;
}
 blockquote,q{
    quotes:none;
}
 blockquote:before,blockquote:after,q:before,q:after{
    content:none;
}
 a{
    margin:0;
    padding:0;
    outline:none;
    background:transparent;
    color:#5daded;
    vertical-align:baseline;
    text-decoration:none;
    font-size:100%;
}
 a:hover {
    color:#3c98e1;
}
 ins{
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
 mark{
    background-color:#ff9;
    color:#000;
    font-weight:700;
    font-style:italic;
}
 del{
    text-decoration:line-through;
}
 abbr[title],dfn[title]{
    border-bottom:1px dotted;
    cursor:help;
}
 table{
    border-spacing:0;
    border-collapse:collapse;
}
 hr{
    display:block;
    margin:2.5em 0;
    padding:0;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
}
 input,select{
    padding:2px;
    vertical-align:middle;
}
 form{
    height:100%;
}
/*HTML5 Reset */
 hr{
    padding:0;
}
 body{
    background-color: #fff;
    color: #404040;
     font-style: normal;
    font-size: 14px;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}
 h1{
    padding-bottom:5px;
    color:#555;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:600;
    font-size:1.6em;
}
 h3{
    padding-bottom:10px;
    font-weight:600;
    font-size:1.2em;
}
 .col-2 {
    float:left;
    margin:10px 30px 25px 0;
    width:305px;
}
 .col-3 {
    float:left;
    margin:0 26px 25px 0;
    width:260px;
}
 .col-4 {
    float:left;
    margin:0 20px 30px 0;
    width:160px;
}
 input[type=text], textarea {
    margin: 4px 0 4px;
    padding:6px 8px;
    border:1px solid #bcbcbc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:#fff;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    color:#444;
    font-size:1em;
    font-family:"proxima-nova-1","proxima-nova-2",sans-serif;
    line-height:1em;
}
 input[type=text] {
    height:15px;
}
 input[type=text]:active, input[type=text]:focus, textarea:active, textarea:focus {
    border:1px solid #5daded;
    -webkit-box-shadow:0 0 4px #93cef7;
    -moz-box-shadow:0 0 4px #93cef7;
    box-shadow:0 0 4px #93cef7;
}
 input[type=checkbox] {
    margin:4px 0 7px;
}
 input[type=radio] {
    margin:3px 0;
}
 .left{
    float:left;
}
 .right{
    float:right;
}
 .clear{
    clear:both;
}
 #container {
    margin:0 auto;
    padding:50px 0px 200px 0;
    max-width:860px;
    background:#fff;
}
 .error {
    margin:10px 0;
    color:#ff0000;
}
 .required{
    color:#ff0000;
    font-weight:bold;
    font-size:large;
}
 .wrapper{
    position:relative;
    padding-bottom:-32px;
     min-height:100%;
}
 .checkbox input {
    margin:0 4px 0 6px;
    height:auto;
}
 .validation {
    padding:20px 30px;
    border:1px solid #ff9b9b;
    border-radius:5px;
    background:#fff1f1;
}
 .validation .valHeader {
    padding:0 0 20px 0;
    color:#444;
    font-size:1.2em;
}
 .validation ul li {
    padding:0 0 10px 22px;
    background:url("/images/validation-x.png") no-repeat;
    list-style:none;
}
 .field{
    padding:8px 0;
}
 .field label{
    display:inline-block;
    width:122px;
    font-weight:600;
}
 .field.longQuestion {
    padding-bottom:15px;
}
 .field label:hover {
    color:#56a1d5;
    cursor:pointer;
}
 .field ul{
    display:inline;
}
 .field li{
    display:inline;
}
 .field li label{
     padding:0 15px 0 3px;
    width:auto;
}
 .field p{
    padding-bottom:10px;
    font-weight:600;
}
 .ddl{
    margin-left:15px;
}
 .field2{
    float:left;
    width:285px;
    height:50px;
}
 .field2 label{
    display:inline-block;
    width:122px;
    font-weight:600;
}
 .field2 select{
    width:130px;
}
 #ownersClub {
    padding:15px 0 0;
}
 #ownersClub p {
    color:#888;
    font-weight:400;
    line-height:1.25em;
    padding-top:5px;
    font-size:0.9em;
}
 .flow label, #ownersClub label {
    margin:0 20px 0 -15px;
    padding-left:20px;
    width:auto;
    font-size:.9em;
    line-height:1em;
}
 .detailsSelect label {
    cursor:pointer;
}
 .detailsSelect label:hover {
    color:inherit;
}
 #reference {
    padding-top:20px;
}
 #reason ul, #recommend ul, #reference ul{
    display:block;
}
 #reason {
    padding-top:25px;
}
 #reason input[type=checkbox], #reference input[type=checkbox] {
    width:15px;
}
 #reason label, #reference label {
    margin-left:-20px;
    padding:0 0 0 25px;
    width:195px;
    font-size:.9em;
    line-height:1em;
}
 #recommend {
    padding-top:20px;
}
 #recommend input {
}
 #recommend label{
    display:inline-block;
    margin:0 5px 0 -20px;
    padding:0 10px 0 25px;
    width:15px;
}
 .ratingLabel {
    display:inline-block;
    margin-right:15px;
    padding:6px 8px;
    border-radius:5px;
    background:#eee;
    color:#fff;
    font-weight:600;
    font-size:.8em;
}
 #reference .referenceOther label {
    width:115px;
}
 .details {
    margin:0 0 18px;
    color:#888;
    font-weight:500;
    font-style:italic;
    font-size:.9em;
}
 .research {
    padding-top:5px;
}
 #comments {
    padding-top:22px;
}
 #prodInfoLeft {
    float:left;
    width:530px;
}
 #prodInfoLeft .field>label:hover, #perInfoLeft .field>label:hover {
    color:inherit;
    cursor:default;
}
 #prodInfoRight{
    float:left;
    width:325px;
    height:275px;
    background:url("/images/badgeLocation2.png") no-repeat top;
}
 #perInfoLeft{
    float:left;
    width:530px;
}
 #perInfoRight{
    float:left;
    width:325px;
}
 #header{
    height:72px;
    border-bottom:1px solid #bababa;
    background: #ecebeb;
    background: linear-gradient(to bottom, #ecebeb 0%,#ecebeb 85%,#dadada 100%);
}
 #headerContent{
    margin:0 auto;
    max-width:855px;
}
 #logo{
    float:left;
    margin:16px 20px 0 0;
     padding:0 20px 8px 0;
    height:34px;
     border-right:1px solid #585758;
    color:#404041;
     letter-spacing:-.04em;
    font-weight:300;
    font-size:2.85em;
    line-height:1em;
}
 #logo a {
    color:#636466;
    text-decoration:none;
}
 #wfi{
    color:#404041;
    letter-spacing:0em;
    font-weight:700;
}
 #title{
    float:left;
    margin:26px 0 0;
    font-size:1.5em;
}
 .headerText {
    margin-bottom:20px;
    color:#888;
}
 #footer {
    position:absolute;
    bottom:0px;
    width:100%;
    border-top:1px solid #bababa;
    background: #d0cfcf;
    background: linear-gradient(to bottom, #dadada 0%,#ecebeb 15%,#ecebeb 100%);
}
 #footerContent{
    margin:0 auto;
    padding:20px 0;
    max-width:855px;
    text-align:center;
    font-weight:600;
    font-size:.9em;
}
 #footerContent a, #footerContent a:visited, #footerContent a:active, #footerContent a:active, #footerContent a:hover{
    color:#000;
    text-decoration:none;
}
 #footerContent a:hover{
    text-decoration:underline;
}
 #ctrlBtns{
    text-align:center;
}
/* #ctrlBtns input{
    margin:0 20px;
     */
     .btnContinueContainer, .btnConfirmContainer, .btnEditContainer {
        position:relative;
        display:inline-block;
        margin:0 20px;
        height:40px;
        border:3px solid #f5f5f5;
        border-radius:8px;
    }
     .btnContinueContainer {
        display:inherit;
        margin:0 auto;
        width:120px;
    }
     .btnEditContainer {
        width:150px;
    }
     .btnConfirmContainer {
        width:200px;
    }
     .btnContinue {
        width:120px;
    }
     .btnConfirm {
        width:200px;
    }
     .btnEdit {
        width:150px;
    }
     .btnContinue, .btnConfirm {
        height:40px;
        border:1px solid #ccc;
        border-radius:5px;
        background: #fff;
        background: linear-gradient(to bottom, #fbfdff 0%,#e1f2fe 100%);
        color:#444;
        font-size:1.2em;
    }
     .btnContinueContainer:hover, .btnConfirmContainer:hover, .btnEditContainer:hover {
        border:3px solid #c6e5fa;
    }
     .btnEdit{
        height:40px;
        border:1px solid #ccc;
        border-radius:5px;
         background: #fff;
        background: linear-gradient(to bottom, #fff 0%,#e6e6e6 100%);
        color:#444;
        font-size:1.2em;
    }
     #saveReg{
        padding: 15px 0px;
    }
     #saveReg label{
        padding-left:15px;
    }
     #identity{
        margin-top:20px;
        text-align:center;
    }
     #brand {
        margin-top:20px;
    }
     #brand a {
        position:relative;
        display:inline-block;
        margin:20px 6px;
        width:262px;
        height:117px;
        border:3px solid #f5f5f5;
        border-radius:7px;
        box-shadow:inset 0 0 8px rgba(0,0,0,.07);
    }
     #brand a:after {
        position:absolute;
        top:0;
        left:0;
        width:260px;
        height:115px;
        border:1px solid #bbb;
        border-radius:4px;
        content: '';
    }
     #brand a:hover {
        border:3px solid #c6e5fa;
    }
     #who {
        margin:20px auto 0;
        text-align:center;
    }
     #who a{
        display:inline-block;
        margin:0 6px;
        width:262px;
        height:70px;
        border:3px solid #f5f5f5;
        border-radius:7px;
        box-shadow:inset 0 0 8px rgba(0,0,0,.07);
    }
     #who a {
        text-align:center;
        line-height:24px;
        padding-top:20px;
        color:#777;
        font-style:italic;
    }
     #who a::first-line {
        font-size:2em;
        color:#5daded;
        font-style:normal
    }
     #who a:hover {
        border:3px solid #c6e5fa;
    }
     #who .faded{
        opacity:.5;
         filter:alpha(opacity=50);
    }
     #who .faded:hover {
        opacity:1;
         filter:alpha(opacity=100);
    }
     #mainBtnWrapper{
        text-align:center;
    }
     .mainBtn {
        display:inline-block;
        margin:50px auto 0;
        border:3px solid #f5f5f5;
        border-radius:8px;
    }
     .mainBtn a {
        display:inline-block;
        padding:10px 30px;
        border:1px solid #ccc;
        border-radius:5px;
        background: #fff;
        background: linear-gradient(to bottom, #fbfdff 0%,#e1f2fe 100%);
        color:#444;
        text-align:center;
        text-decoration:none;
        font-size:1.8em;
        line-height:1.5em;
    }
     .mainBtn:hover {
        border:3px solid #c6e5fa;
    }
     .steps{
        margin:10px auto 20px;
        padding:0 2px;
        width:449px;
        border:1px solid #ddd;
        border-radius:8px;
        text-align:center;
    }
     .steps .step, .steps .step.current:hover {
        display:inline-block;
        margin:5px 2px;
        width:140px;
        border:1px solid #d0cfcf;
        border-radius:3px;
        background: #ecebeb;
        background: linear-gradient(to bottom, #ecebeb 0%,#ddd 100%);
    }
     .steps .step:hover {
        background: #f1f1f1;
        background: linear-gradient(to bottom, #f1f1f1 0%,#e4e4e4 100%);
    }
     .steps .step a{
        display:inline-block;
        padding:10px 0;
        width:100%;
        color:#6bb110;
        text-decoration:none;
        font-weight:600;
    }
     .steps .step span{
        display:inline-block;
        padding:10px;
        text-decoration:none;
        font-weight:600;
        cursor:default;
    }
     .steps .step.inactive{
        border:1px solid #e5e5e5;
        background:#f5f5f5;
        color:#d0cfcf;
        cursor:default;
    }
     .thanks {
        padding:0 0 20px 45px;
        background:url("/images/checkmark.png") no-repeat;
        line-height:35px;
    }
     .hiddenPrint {
        display:none;
    }
     .difficulty {
        color:#888;
    }
     .printConfirm {
        float:right;
        margin:-48px 0 0 0;
    }
     .btnPrint {
        padding:5px 10px;
    }
     .ytVideo {
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
     .ytVideo iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    
    
